<main class="cart">
  <h1>Carrito de Compras</h1>

  {{#if cart.products.length}}
    <div class="cart-container">
      {{#each cart.products}}
        <div class="cart-item">
          <h2>{{this.product.title}}</h2>
          <img src="{{this.product.img}}" alt="Imagen de {{this.product.title}}" width="100">
          <p>{{this.product.description}}</p>
          <p>Precio: ${{this.product.price}}</p>
          <p>Cantidad: {{this.quantity}}</p>
          <p>Total: ${{this.quantity * this.product.price}}</p>
        </div>
      {{/each}}
    </div>
    <div class="cart-total">
      <h2>Total del Carrito: ${{totalPrice}}</h2>
    </div>
  {{else}}
    <h2>El carrito está vacío.</h2>
  {{/if}}
</main>