<main class="home">
  <h1> Vista de Productos</h1>

  <form class="inputLimit" action="/" method="get">
    <label for="limit">Cantidad de productos a visualizar:</label>
    <input type="number" id="limit" name="limit" min="1" max="100" />
    <button type="submit">Consultar</button>
  </form>

  <div class="card-container">
    {{#if products.length}}
    {{#each products}}
      <div class="card">        
        <h2>{{this.title}}</h2>
        <img src="{{#if this.img}}{{this.img}}{{else}}https://placehold.co/267x400{{/if}}" alt="">
        <p>{{this.description}}</p>
        <div><p>${{this.price}} - Stock: {{this.stock}}</p></div>
        <a class="btn" href="/product/{{this._id}}">Ver Detalles</a>
        </div>
    {{/each}}
    {{else}}
    <h2>No hay productos para mostrar!</h2>
{{/if}}
  </div>
<div class="paginas">
    {{#if hasPrevPage}}
      <a class="btn" href="{{prevLink}}">⏪</a>
    {{/if}}
    <span>Página {{page}}</span>
    {{#if hasNextPage}}
      <a class="btn" href="{{nextLink}}">⏩</a>
    {{/if}}
  </div>
</main>