<main class="product-details">
  <h1>Detalles del Producto</h1>
  <div class="product-card">
    <p>Categoría: {{product.category}}</p>
    <h2>{{product.title}}</h2>
    <img class="product-img" src="{{#if product.img}}{{product.img}}{{else}}https://placehold.co/600{{/if}}">
    <p>{{product.description}}</p>
    <div>
      <h3>Precio: ${{product.price}}</h>
      <p>Stock: {{product.stock}}</p>      
    </div>

    <form action="/cart/{{cartId}}/product/{{product._id}}" method="post">    
    <button type="submit" class="btn">Agregar al Carrito</button>
    <label for="img">ID:</label> <input type="text" id="cartId" name="cartId" placeholder="Ingresa el id de tu carrito" required />      
    </form>
    
    <a class="btn" href="/">Volver</a>
  </div>
</main>